body {
  background-image: url('back.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  font-size: 30px;
  position: center;
  left: 100px;
  top: 150px;
  margin-top: 200px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 500px;
}
h1 {
  font-weight: bold;
  color: black;
  font-size: 32px;
}

form {
  font-size: 20px;
  position: center;
  left: 100px;
  
}